.carousel {
    position: relative;
    max-width: 970px;
    margin: 2rem auto;
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 10px;
}

.carousel > * {
    box-sizing: border-box;
    border-radius: 10px;
}

.carousel-item {
    position: relative;
    display: flex;

}

.carousel-item__img {
    width: 100%;

    filter: contrast(70%);
    border-radius: 10px;
}

.carousel-item__description {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1rem 50px;

    color: white;

    background-image: linear-gradient(transparent, rgba(0,0,0, 0.8), transparent);
}

.carousel__btn-prev,
.carousel__btn-next {
    width: 60px;
    height: 100%;

    position: absolute;
    top: 0;

    opacity: 0.7;

    background-position: center center;
    background-size: 30px;
    background-repeat: no-repeat;
}

.carousel__btn-prev {
    left: 0;
    background-image: url(../img/chevron-circle-left-solid.svg);
}

.carousel__btn-next {
    right: 0;
    background-image: url(../img/chevron-circle-right-solid.svg);
}

.carousel__btn-prev:hover,
.carousel__btn-next:hover {
    background-color: rgba(0,0,0, 0.5);
    opacity: 0.9;
}

.carousel__btn-prev:hover {
    border-radius: 10px 0 0 10px;
}

.carousel__btn-next:hover {
    border-radius: 0 10px 10px 0;
}