.promo {
  display: flex;
  height: 100vh;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../img/main-background.jpg) no-repeat center;
  background-size: cover; }
  .promo__wrapper {
    max-width: 830px;
    padding: 100px 2rem 0;
    margin: auto; }
    @media (max-width: 446px) {
      .promo__wrapper {
        padding-top: 50px; } }
    @media (max-height: 500px) {
      .promo__wrapper {
        padding-top: 50px; } }
  .promo__company-name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25em; }
  .promo__title {
    margin: 1.25rem 0 2.5rem;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3em; }

.services {
  display: flex;
  flex-direction: column;
  padding: 3.75rem 1.25rem;
  align-items: center; }
  .services__row {
    display: flex;
    padding: 0;
    margin: 3rem 0 0;
    max-width: 1120px;
    text-align: left;
    list-style: none; }
    @media (max-width: 1140px) {
      .services__row {
        text-align: center; } }
    @media (max-width: 460px) {
      .services__row {
        flex-direction: column; } }
  .services__item {
    padding: 12px 1rem 2.5rem 12px; }
    .services__item:last-child {
      padding-right: 0; }
    @media (max-width: 460px) {
      .services__item {
        padding: 0 0 3rem 0; } }
  .services__icon {
    display: inline-block;
    width: 98px;
    height: 98px;
    vertical-align: top;
    box-shadow: 0 0 0 1px #4985ff, 0 0 0 10px white, 0 0 0 11px #e0e0e0;
    border-radius: 50%;
    background-image: url(../../img/icon.svg);
    background-position: center center;
    background-repeat: no-repeat; }
  .services__text {
    display: inline-block;
    max-width: 222px;
    padding-left: 1.125rem; }
    @media (max-width: 460px) {
      .services__text {
        display: block;
        padding-left: 0; } }
  .services__name {
    padding: 2.5rem 0 0.5rem;
    margin: 0; }

.all-services {
  position: relative;
  padding: 3.5rem 2rem; }
  .all-services__gradient {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%); }
    @media (max-width: 700px) {
      .all-services__gradient {
        height: 100%; } }
  .all-services__content {
    max-width: 1160px;
    margin: auto; }
  .all-services__header {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white; }
    @media (max-width: 458px) {
      .all-services__header {
        flex-direction: column; } }
  .all-services__title {
    max-width: 50%;
    text-align: left; }
    @media (max-width: 458px) {
      .all-services__title {
        max-width: 100%;
        margin-bottom: 2.5rem;
        text-align: center; } }
  .all-services__row {
    display: flex;
    padding: 2.5rem 0;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
    list-style: none; }
    @media (max-width: 700px) {
      .all-services__row {
        flex-direction: column; } }
  .all-services__item {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-right: 1rem;
    text-align: left; }
    .all-services__item:last-child {
      margin-right: 0; }
    @media (max-width: 700px) {
      .all-services__item {
        flex-direction: row;
        max-width: 700px;
        padding-bottom: 1rem; } }
    .all-services__item-img {
      width: 100%;
      padding: 0;
      margin: 0;
      border-radius: 10px; }
      @media (max-width: 700px) {
        .all-services__item-img {
          display: none; } }
    @media (max-width: 700px) {
      .all-services__item-name {
        color: #fff; } }
    @media (max-width: 700px) {
      .all-services__item-description {
        color: #f2f2f2; } }
    .all-services__item-number {
      color: #4985ff; }
    .all-services__item-link {
      color: #4985ff; }
      .all-services__item-link:hover {
        color: #87aefd; }

.projects {
  display: flex;
  padding: 3.75rem 1.25rem;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f8; }

.call-to-action {
  position: relative;
  padding: 3.75rem 1.25rem; }
  .call-to-action__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    background-image: url(../../img/video-background.jpg);
    background-repeat: no-repeat;
    background-position: center center; }

.video {
  max-width: 970px;
  margin: auto;
  color: white;
  border-bottom: 1px solid #e0e0e0; }
  .video__container {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    margin: 2.5rem auto; }
  .video-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border: none;
    border-radius: 10px; }

.subscribe {
  margin: 2.5rem 1rem; }
  .subscribe__title {
    color: black; }
  .subscribe__form {
    padding: 1.5rem 0 2rem;
    font-size: 0; }
  .subscribe__input {
    padding: 13px 33px 15px;
    margin: 0;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 30px 0 0 30px;
    outline: none; }
    @media (max-width: 500px) {
      .subscribe__input {
        display: block;
        width: 100%;
        border-radius: 30px; } }

.btn {
  padding: 13px 33px 15px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  background: #4985ff;
  border: none;
  border-radius: 0 30px 30px 0;
  outline: none; }
  .btn:hover {
    background: #1563ff;
    cursor: pointer; }
  @media (max-width: 500px) {
    .btn {
      display: block;
      width: 100%;
      margin: 1rem auto 0;
      border-radius: 30px; } }
