.popup {
  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: white;
    color: #222;
    animation: popup__animation 1s;
  }

  &__header {
    margin: 1rem 0;

    &-text {
      margin: 0 3rem;
    }
  }

  &__content {
    text-align: left;
  }

  &__close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    background-image: url(../../img/close-btn.svg);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(41, 37, 37, 0.8);
    animation: popup__animation 1s;
  }
}

@keyframes popup__animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blur {
  filter: blur(2px);
  animation: blur 1s;
}

.stop-scrolling {
  overflow: hidden;
}

@keyframes blur {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(2px);
  }
}


