.menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  transition-duration: 0.5s;
}
@media (max-width: 768px) {
  .menu {
    min-height: 68px;
    background-color: rgba(161, 161, 161, 0.5);
  }
}
.menu__body {
  height: 100px;
  margin: 0 0 0 50%;
  padding: 0;
  font-weight: 500;
  text-align: left;
}
@media (max-width: 1000px) {
  .menu__body {
    float: right;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .menu__body {
    display: none;
  }
}
.menu__item {
  position: relative;
  display: inline-block;
  padding: 0 24px;
  box-sizing: border-box;
}
.menu__item:hover, .menu__item__active {
  border-bottom: solid 2px white;
}
@media (max-width: 768px) {
  .menu__item:hover, .menu__item__active {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .menu__item:hover > .menu__dropdown, .menu__item:focus-within > .menu__dropdown {
    visibility: visible;
    opacity: 1;
  }
}
.menu__item-name {
  display: block;
  height: 100%;
  margin: 0;
  color: white;
  line-height: 99px;
  text-decoration: none;
}
.menu__item__chevron-show .menu__dropdown {
  display: block;
}
.menu__dropdown {
  position: absolute;
  top: 100px;
  left: 0;
  padding: 1rem 24px;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  list-style: none;
  background-color: rgba(161, 161, 161, 0.5);
  transition-duration: 0.25s;
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 768px) {
  .menu__dropdown:hover {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .menu__dropdown {
    position: static;
    padding: 0;
    text-align: center;
    background-color: rgba(87, 87, 87, 0.5);
    visibility: visible;
    opacity: 1;
    display: none;
    max-height: 0;
    transition: max-height 0.25s ease-out;
  }
}
.menu__dropdown-child__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 40px;
  color: white;
}
.menu__dropdown-child__link:hover {
  text-decoration: underline;
}
.menu__dropdown-child__main {
  font-weight: 700;
}
.menu-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
}
.menu-icon__bar1, .menu-icon__bar2, .menu-icon__bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.5s;
}

.show .menu-icon__bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.show .menu-icon__bar2 {
  opacity: 0;
}
.show .menu-icon__bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.show.menu {
  background-color: rgba(161, 161, 161, 0.95);
  box-sizing: border-box;
}
.show.menu__body {
  display: block;
  height: 100%;
  float: none;
  text-align: center;
}
.show .menu__item {
  display: block;
  padding: 0;
  margin: auto;
}
.show .menu__item .menu__item-name {
  line-height: 68px;
}

/*# sourceMappingURL=component_menu.css.map */
